.search{
  margin-top: 20vh;
  text-align: center;
}

.poke-container{
  columns: 5;
}

.text-container{
  padding-left: 20vw;
  padding-right: 20vw;
  margin-top: 10vh;
}


.product{
  height: 60vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}


#switch{
  float: right;
}

@media only screen and (max-width: 1200px){
  .product{
    margin-top: 10vh;
    height: 40vh;
  }
  .text-container{
    padding-left: 20vw;
    padding-right: 5vw;
    margin-top: 10vh;
  }
}

@media only screen and (max-width: 600px){
  .product{
    margin-top: 10vh;
    height: 20vh;
  }
  .text-container{
    padding-left: 20vw;
    padding-right: 5vw;
    margin-top: 10vh;
  }
}